
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
        <h1>Recipes!</h1><br>

        <% @recipe.each do |details|%>
        
            <h2><a href="/recipes/<%=details.id%>"><%=details.name%></a></h2>
          
        <%end%>
         
   
  
  </body>
</html>